.warning::before {
  content: '\26A0';
  padding-right: 2px;
  color: #60272a;
}

.cancel::before {
  content: '\2716';
  color: red;
  font-size: 17.5px;
}

.accept::before {
  content: '\2714';
  color: green;
  font-size: 17.5px;
}
